@model Product


@{
    ViewData["Title"] = "Details";
}

<<h1> DETAILS</h1>

<nav aeria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class=" breadcrumb-item"><a asp-controller="Product" asp-action="Index">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>